body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  /* padding: 0 16px; */
  margin: 0 auto;
}

.header {
  backdrop-filter: blur(35px);
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.logo {
  font-size: 28px;
  color: #fff;
  text-decoration: none;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 40px 20px;
}
.menu-item {
}
.menu-link {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  padding: 29px 0 28px;
  display: block;
}
